---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "about",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">about</h1>
		<p>
			Hi there! My name is Caio and I'm a software developer from Brazil. Currently working as an
			intern at Lacuna Software, where I'm building apps with .NET and Angular. Right now I'm also
			studying Computer Science at the Federal Institute of Brasilia, expecting to graduate december
			2024.
		</p>
		<p>
			On my free time I'm probably sleeping, playing Counter-Strike <a
				class="cactus-link inline-block"
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=2949914115"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				(global btw)
			</a>, or listening to music. Here's my
			<a
				class="cactus-link inline-block"
				href="https://www.last.fm/user/caixzn"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				last.fm
			</a> — a lot of kpop on there probably.
		</p>
	</div>
</PageLayout>
